<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
    <body class="">
        
        <div class="d-flex" id="wrapper">

            <div th:replace="layout/layout :: sidebar"></div>

            <div id="page-content-wrapper">

                <nav th:replace="layout/layout :: navbar"></nav>

                <div class="container-fluid">
                    <div class="row mt-5">
                        
                        <div class="col-xl-7 ml-xl-auto">
                            <div th:replace="layout/layout :: alerts"></div>
                            <div class="p-3 bg-white">
                                <form class="" th:action="@{/explorer}" method="post">
                                <div class="form-row">
                                    <div class="col-10">
                                        <input type="text" name="find" class="form-control ligthyellow">
                                    </div>
                                    <div class="col-2">
                                        <button class="btn" type="submit">Buscar</button>
                                    </div>
                                </div>
                            </form>
                            </div>
                            
                            <div class="p-3 mt-3 bg-white card" th:if="${!#lists.isEmpty(users)}" th:each="us : ${users}">
                                <div class="row">
                                    <div class="col-2 col-lg-1">
                                    <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/500px-User_icon_2.svg.png">
                                </div>
                                <div class="col-8 col-lg-9 d-flex align-content-center flex-wrap">
                                    <p><a th:href="${'/userdetails/' + us.id}"><span class="font-weight-bold" th:text="${us.name}"></span> <span class="" th:text="'@' + ${us.username}"></span></a></p>
                                </div>
                                <div class="col-2 col-lg-2" th:if="${us.username != #authentication.name}">
                                    <button class="badge badge-primary followbutton" th:id="'followbutton' + ${us.id}" th:value="${us.id}">Seguir</button>
                                    <button class="badge badge-danger unfollowbutton" th:id="'unfollowbutton' + ${us.id}" th:value="${us.id}" style="display: none;">Dejar de seguir</button>
                                </div>
                                </div>
                                
                            </div>
                    
                            <div class="p-3 mt-3 bg-white card" th:if="${!#lists.isEmpty(publications)}" th:each="publi : ${publications}">
                                <div class="row">
                                    <div class="col-2">
                                    <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/500px-User_icon_2.svg.png">
                                </div>
                                <div class="col-10">
                                    <div class="row">
                                        <div class="col-12">
                                            <p><a th:href="${'/userdetails/' + publi.user.id}"><span class="font-weight-bold" th:text="${publi.user.name}"></span> <span class="" th:text="'@' + ${publi.user.username}"></span></a> - <span class="" th:text="${publi.dateOfSend}"></span></p>
                                        </div>
                                    </div>
                                    <p th:text="${publi.publication}"></p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                        <div class="col-xl-3 ml-xl-auto ml-5 mr-5">
                            <div class="card">
                                <div class="card-header text-center text-chirpy">
                                    <h5 class="card-title">Tendencias</h5>
                                </div>
                                <div class="card-body pb-5">
                                    
                                </div>

                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div th:replace="layout/layout :: footer"></div>
    </body>
</html>
