<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
    <body>
        <div class="container mt-4">
            <div th:replace="layout/layout :: alerts"></div>
            <div class="row">
                <div th:replace="layout/layout :: menu"></div>
                <div class="col-10 col-md-10 col-lg-10">
                    <div class="p-3 silver">
                        <div class="container mt-0">
                            <div class="col-12 text-center mb-3">
                                <h5>¿Que esta pasando?</h5>
                            </div>
                            
                            <form th:action="@{/mypublication}" th:object="${publication}" method="post">
                                <div class="col-12 text-center">
                                    <textarea th:field="*{publication}" placeholder="Publicacion" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    <span class="text-danger" th:if="${#fields.hasErrors('publication')}" th:errors="*{publication}"></span>
                                </div>
                                <div class="col-12">
                                    <button class="btn mt-2" type="submit">Publicar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                    <div class="p-3 mt-3 black text-center" th:if="${#lists.isEmpty(publications)}">
                        <h3 class="text-danger">No tienes publicaciones</h3>
                    </div>
                    
                    <div class="p-3 mt-3 cornsilk row" th:if="${!#lists.isEmpty(publications)}" th:each="publi : ${publications}">
                        <div class="col-2">
                            <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/500px-User_icon_2.svg.png">
                        </div>
                        <div class="col-10">
                            <div class="row">
                                <div class="col-12">
                                    <p><span class="font-weight-bold" th:text="${publi.user.name}"></span> <span class="" th:text="'@' + ${publi.user.username}"></span> - <span class="" th:text="${publi.dateOfSend}"></span></p>
                                </div>
                            </div>
                            <p th:text="${publi.publication}"></p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <div th:replace="layout/layout :: footer"></div>
    </body>
</html>
