.verde {
	background-color: lightgreen;
}

.silver {
    background-color: #C0C0C0;
}



.aliceblue {
    background-color: #F0F8FF;
}

.black {
    background-color: #000000;
}

.cornsilk {
    background-color: #FFF8DC;
}