<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
	<!--/* Header usado en la aplicacion */-->
	
	<head th:replace="aplication/layout/layout :: head"></head>

	<!--/* fin header usado en la aplicacion */-->

    <body>

		<!--/* Cuerpo de la aplicacion */-->
		<div class="wrapper d-flex align-items-stretch">
		
			<!--/* Navbar de la aplicacion */-->
			
			<nav th:replace="aplication/layout/layout :: navbar"></nav>

			<!--/* Fin navbar de la aplicacion */-->

			<!--/* Contenido de la aplicacion */-->
			
      		<div id="content" class="p-4 p-md-5 pt-5">
                    <div class="row">
                        
                        <!--/* Zona central */-->
                        
                        <div class="col-xl-7 ml-xl-auto">
                        
                        	<!--/* Alertas */-->
                        
                            <div th:replace="aplication/layout/layout :: alerts"></div>
                            
                            <!--/* Fin Alertas */-->
                            
                     <div class="chat row">
                        <div class=" col-12 messages">
                            
                            <div  th:each="message : ${messages}" th:text="${message.text}"></div>
                          
                          
                        </div>
                         <form id="dialogueForm" th:object="${message}" th:action="@{/messages/send}" method="post"  class="col-12">
                            <div class="form-group">
                                <div class="input-group clearfix">
                                    <textarea th:field="*{text}" th:placeholder="#{'texto'}" class="border" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    <span class="text-danger" th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></span>
                                    <button type="submit" class="glyphicon glyphicon-share-alt">Send</button>
                                </div>
                            </div>
			</form>
                      </div>
			
			

                            
                            
                        </div>
                        
                        <!--/* Fin zona central */-->
                        
                        <!--/* Zona lateral, tendencias */-->
                       	
						<div th:replace="aplication/layout/layout :: tendence-1" ></div>

						<!--/* Fin zona lateral */-->




                    </div> 
                </div>
                
                <!--/* Fin contenido */-->
                
        	</div>
        	
        	<!--/* Fin cuerpo */-->
        	
       	<!--/* Footer */-->
       	
        <div th:replace="aplication/layout/layout :: footer"></div>
        
        <!--/* Fin footer */-->
        
    </body>
</html>
