<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:replace="aplication/layout/layout :: head"></head>
	
	<body>
		<div class="wrapper d-flex align-items-stretch">
			
			<nav th:replace="aplication/layout/layout :: navbar"></nav>
			
			<div id="content" class="p-4 p-md-5 pt-5">
				<div class="row">
					<div class="col-xl-7 ml-xl-auto">
					
						<div th:replace="aplication/layout/layout :: alerts"></div>
	
						<div class="p-3 bg-white">
						
							<div class="text-center">
								<h5 th:text="#{text.home.sendpubliup}"></h5>
							</div>
							
							<form th:action="@{/home}" th:object="${publication}" method="post" enctype="multipart/form-data" class="row">
								
								<div class="col-12 text-center">
									<textarea th:field="*{publication}" th:placeholder="#{text.home.publication}" class="border" id="exampleFormControlTextarea1" rows="3"></textarea>
									<span class="text-danger" th:if="${#fields.hasErrors('publication')}" th:errors="*{publication}"></span>
									<span class="text-danger" th:if="${errorpublication != null}" th:text="${errorpublication}"></span>
								</div>
								
								<div class="col-9 mt-2">
									<div class="row">
									
										<div class="col-6 text-center">
											<p class="text-break"><label for="1" class="subir">
								    			<i class="fas fa-cloud-upload-alt"></i> <span th:text="#{text.home.uploadimage}"></span>
												</label>
												<input id="1" name="image[]" type="file" style='display: none;'/>
											</p>
										</div>
										
										<div class="col-6 text-center">
											<p class="text-break"><label for="2" class="subir">
								    			<i class="fas fa-cloud-upload-alt"></i> <span th:text="#{text.home.uploadimage}"></span>
												</label>
												<input id="2" name="image[]" type="file" style='display: none;'/>
											</p>
										</div>
										
									</div>
									<span class="text-danger" th:if="${errorimage != null}" th:text="${errorimage}"></span>
								</div>
	
								<div class="col-3 text-center">
									<button class="btn btn-secondary mt-2" type="submit" th:text="#{text.home.publish}"></button>
								</div>
								
							</form>
							<div  class="text-right" >
								<a sec:authorize="isAuthenticated()" th:href="@{/viewemoticons}" th:text="#{text.administration.emoticon.tittle}"></a>
								
							</div>
							
						</div>
	
						
                        <div id="all-publications">
                        	<div class="publication p-4 mt-3 bg-white card" th:if="${!#lists.isEmpty(publications)}" th:each="publi : ${publications}" th:id="${publi.id}">
                                <div class="row">
                                
                                    <div class="col-3 col-xl-2">
                                    	<img class="img-fluid border" th:if="${publi.user.imageperf != null}" th:src="${'/image/user/' + publi.user.id}" alt="Card image cap" style="width: 100px">
                                        <img class="img-fluid border" th:if="${publi.user.imageperf == null}" th:src="@{/image/usuario.png}" alt="Card image cap" style="width: 100px">
                                    </div>
                                    
                                    <div class="col-9 col-xl-10">
                                    
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="text-break"><a th:href="${'/profile/' + publi.user.id}"><span class="font-weight-bold" th:text="${publi.user.name}"></span> <span class="" th:text="'@' + ${publi.user.username}"></span></a> - <span class="" th:text="${publi.dateOfSend}"></span></p>
                                            </div>
                                        </div>
                                        
                                        <p class="text-break" th:utext="${publi.publication}"></p>
                                        
                                        <div class="row" th:if="${publi.publi != null && publi.publi.view != false}">
                                        	<div class="col cornsilk border p-3 m-3">
	                                        	<a th:href="${'/viewpublication/' + publi.publi.id}" class="font-weight-bold"  th:text="#{text.layout.coment-1.inresponse}">
                                    			</a>
	                                        	
	                                       		<div class="row">
	                                       		
													<div class="col-4 col-xl-2">
				                                    	<img class="img-fluid border" th:if="${publi.publi.user.imageperf != null}" th:src="${'/image/user/' + publi.publi.user.id}" alt="Card image cap" style="width: 100px">
				                                    	<img class="img-fluid border" th:if="${publi.publi.user.imageperf == null}" th:src="@{/image/usuario.png}" alt="Card image cap" style="width: 100px">
				                                	</div>
			                                		<div class="col-8 col-xl-10">
				                                    	<div class="row">
				                                        	<div class="col-12">
				                                            	<p class="text-break"><a th:href="${'/profile/' + publi.publi.user.id}"><span class="font-weight-bold" th:text="${publi.publi.user.name}"></span> <span class="" th:text="'@' + ${publi.publi.user.username}"></span></a> - <span th:text="${publi.publi.dateOfSend}"></span></p>
				                                        	</div>
				                                    	</div>
				                                    	<p class="text-break" th:utext="${publi.publi.publication}"></p>
			                                    	</div>
				                                </div>
                                        	</div>
                                        </div>
                                        
                                        <div class="row" th:if="${publi.publi != null && publi.publi.view == false}">
                                        	<div class="col cornsilk border p-3 m-3">
	                                        	<a th:href="${'/viewpublication/' + publi.publi.id}" class="font-weight-bold"  th:text="#{text.layout.coment-1.inresponse}">
                                    			</a>
	                                        	
	                                       		<div class="row">
	                                       		
													<div class="col-4 col-xl-2">
				                                    	<img class="img-fluid border" th:if="${publi.publi.user.imageperf != null}" th:src="${'/image/user/' + publi.publi.user.id}" alt="Card image cap" style="width: 100px">
				                                    	<img class="img-fluid border" th:if="${publi.publi.user.imageperf == null}" th:src="@{/image/usuario.png}" alt="Card image cap" style="width: 100px">
				                                	</div>
			                                		<div class="col-8 col-xl-10">
				                                    	<div class="row">
				                                        	<div class="col-12">
				                                            	<p class="text-break"><a th:href="${'/profile/' + publi.publi.user.id}"><span class="font-weight-bold" th:text="${publi.publi.user.name}"></span> <span class="" th:text="'@' + ${publi.publi.user.username}"></span></a> - <span th:text="${publi.publi.dateOfSend}"></span></p>
				                                        	</div>
				                                    	</div>
			                                    	</div>
				                                </div>
                                        	</div>
                                        </div>
                                        
                                    	<div class="row">
                                    		<a class="col" data-type="image" th:each="vid : ${imageDao.findByPubli(publi)}" th:href="${'/image/image/' + vid.id}" data-toggle="lightbox" th:data-gallery="${publi.id}">
												<img class="img-fluid" th:src="${'/image/image/' + vid.id}" >
											</a>
                                    	</div>
                                    	
                                    	<div class="row mt-2">
                                    		<button type="button" sec:authorize="isAuthenticated()" class="ml-3 btn btn-outline-success r-button" data-toggle="modal" data-target="#myModal" th:value="${publi.id}" th:text="#{text.layout.coment-1.buttonanswer}"></button>
											<a sec:authorize="!isAuthenticated()"  th:href="${'/login'}" class="ml-3 btn btn-outline-success" th:text="#{text.layout.coment-1.buttonanswer}">
                                    		</a>                                    		
                                    		<a th:href="${'/viewpublication/' + publi.id}" class="ml-3 btn btn-outline-success" th:value="${publi.id}">
                                    			 <span th:text="#{text.layout.coment-1.buttonanswers}"></span> <span th:text="${#lists.size(publicationDao.findResponse(publi))}"></span>
                                    		</a>
                                    		<a th:href="${'/report/' + publi.id}" class="ml-3 btn btn-outline-success" th:text="#{text.layout.coment.sendban}"></a>
                                    	</div>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
					<div th:replace="aplication/layout/layout :: tendence-1"></div>
				</div> 
			</div>
		</div>
		<div th:replace="aplication/layout/layout :: modal"></div>
		<div th:replace="aplication/layout/layout :: footer"></div>
	</body>
</html>