<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
	<!--/* Header usado en la aplicacion */-->
	
	<head th:replace="aplication/layout/layout :: head"></head>

	<!--/* fin header usado en la aplicacion */-->

    <body>

		<!--/* Cuerpo de la aplicacion */-->
		<div class="wrapper d-flex align-items-stretch">
		
			<!--/* Navbar de la aplicacion */-->
			
			<nav th:replace="aplication/layout/layout :: navbar"></nav>

			<!--/* Fin navbar de la aplicacion */-->

			<!--/* Contenido de la aplicacion */-->
			
      		<div id="content" class="p-4 p-md-5 pt-5">
                    <div class="row">
                        
                        <!--/* Zona central */-->
                        
                        <div class="col-xl-7 ml-xl-auto">
                        
                        	<!--/* Alertas */-->
                        
                            <div th:replace="aplication/layout/layout :: alerts"></div>
                            
                            <!--/* Fin Alertas */-->
                            
                     <div class="chat row border rounded">
                        <div class=" col-12 messages">
                            
                            <div th:each="message : ${messages}">
                                
                                <div th:if="${message.send.id != user.id}" class="row justify-content-between">
                                    <div class="col-6 border rounded p-3 lightblue">
                                        <div class="row">
                                            <div class="col-3">
                                                <img class="img-fluid border" th:if="${message.send.imageperf != null}" th:src="${'/image/user/' + message.send..id}" alt="Card image cap" style="width: 100px">
                                                <img class="img-fluid border" th:if="${message.send.imageperf == null}" th:src="@{/image/usuario.png}" alt="Card image cap" style="width: 100px">
                                            </div>
                                            <div class="col-9">
                                                <p class="text-primary" th:text="${message.send.username}"></p>
                                                <p class="text-break" th:text="${message.text}"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div th:if="${message.send.id == user.id}" class="row justify-content-end">
                                    <div class="col-6 border rounded p-3 springgreen" th:if="${message.send.id == user.id}">
                                        <div class="row">
                                            <div class="col-3">
                                                <img class="img-fluid border" th:if="${message.send.imageperf != null}" th:src="${'/image/user/' + message.send..id}" alt="Card image cap" style="width: 100px">
                                                <img class="img-fluid border" th:if="${message.send.imageperf == null}" th:src="@{/image/usuario.png}" alt="Card image cap" style="width: 100px">
                                            </div>
                                            <div class="col-9">
                                                <p class="text-primary" th:text="${message.send.username}"></p>
                                                <p class="text-break" th:text="${message.text}"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                          
                        </div>
                         <form id="dialogueForm" th:object="${message}" th:action="@{/messages/send}" method="post"  class="col-12 border rounded pt-3 pb-0 bg-info">
                            <div class="form-group">
                                <div class="input-group clearfix">
                                    <input th:field="*{text}" th:placeholder="#{'texto'}" class="form-control aliceblue" id="exampleFormControlTextarea1">
                                    <button type="submit" class="btn btn-outline-success ml-3"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                    <span class="text-danger" th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></span>
                                </div>
                            </div>
			</form>
                      </div>
			
			

                            
                            
                        </div>
                        
                        <!--/* Fin zona central */-->
                        
                        <!--/* Zona lateral, tendencias */-->
                       	
						<div th:replace="aplication/layout/layout :: tendence-1" ></div>

						<!--/* Fin zona lateral */-->




                    </div> 
                </div>
                
                <!--/* Fin contenido */-->
                
        	</div>
        	
        	<!--/* Fin cuerpo */-->
        	
       	<!--/* Footer */-->
       	
        <div th:replace="aplication/layout/layout :: footer"></div>
        
        <!--/* Fin footer */-->
        
    </body>
</html>
