<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
	<!--/* Header usado en la aplicacion */-->
	
	<head th:replace="aplication/layout/layout :: head"></head>

	<!--/* fin header usado en la aplicacion */-->

    <body>

		<!--/* Cuerpo de la aplicacion */-->
		<div class="wrapper d-flex align-items-stretch">
		
			<!--/* Navbar de la aplicacion */-->
			
			<nav th:replace="aplication/layout/layout :: navbar"></nav>

			<!--/* Fin navbar de la aplicacion */-->

			<!--/* Contenido de la aplicacion */-->
			
      		<div id="content" class="p-4 p-md-5 pt-5">
                    <div class="row">
                        
                        <!--/* Zona central */-->
                        
                        <div class="col-xl-7 ml-xl-auto">
                        
                        	<!--/* Alertas */-->
                        
                            <div th:replace="aplication/layout/layout :: alerts"></div>
                            
                            <!--/* Fin Alertas */-->
                            
                            <div class="text-center bg-secondary p-2">
                                <h1 class="text-white id-received" th:id="${userReceived.id}"><span th:text="#{text.chat.chatwhith}"></span> <span th:text="${userReceived.name}"></span></h1>
                            </div>
                            
                     <div class="chat row border rounded">
                        <div class=" col-12 messages">
                            
                            <div th:each="message : ${messages}">
                                
                                <div th:if="${message.send.id != user.id}" class="row justify-content-between">
                                    <div class="col-6 border rounded p-3 lightblue">
                                        <div class="row">
                                            <div class="col-9">
                                                <p class="text-primary" th:text="${message.send.name}"></p>
                                                <p class="text-break" th:utext="${message.text}"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div th:if="${message.send.id == user.id}" class="row justify-content-end">
                                    <div class="col-6 border rounded p-3 beige" th:if="${message.send.id == user.id}">
                                        <div class="row">
                                            <div class="col-9">
                                                <p class="text-primary" th:text="${message.send.name}"></p>
                                                <p class="text-break" th:utext="${message.text}"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>     
                        </div>
                         <form id="dialogueForm" class="col-12 border rounded pt-3 pb-0 bg-secondary">
                            <div class="form-group">
                                <div class="input-group clearfix">
                                    <input th:placeholder="#{text.chat.message}" class="form-control aliceblue input" id="exampleFormControlTextarea1">
                                    <button id="sender" class="btn btn-outline-light ml-3"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                </div>
                            </div>
			</form>
                         
                      </div>
                    </div>
                        
                        <!--/* Fin zona central */-->
                        
                        <!--/* Zona lateral, tendencias */-->
                       	
						<div th:replace="aplication/layout/layout :: tendence-1" ></div>


						<!--/* Fin zona lateral */-->

                    </div> 
                </div>
                
                <!--/* Fin contenido */-->
                
        	</div>
        	
        	<!--/* Fin cuerpo */-->
        	
       	<!--/* Footer */-->
       	
        <div th:replace="aplication/layout/layout :: footer"></div>
        
        <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
        <script>

        jQuery(function($){
            
        
            var stompClient = null;
            var connected = false;


            function connect() {
                var socket = new SockJS('/chat-websocket');
                stompClient = Stomp.over(socket);
                stompClient.connect({}, function (frame) {
                    connected = true;
                    stompClient.subscribe('/user/queue/'+$(".id-received").attr('id')+'/messages', function (greeting) {
                        console.log(JSON.parse(greeting.body).content);
                        
                        let parse = JSON.parse(greeting.body);
                        
                        let text = "";
                        if ($(".id-received").attr('id') != parse.idReceived){
                            text = text + "<div class='row justify-content-between'>";
                            text = text + "    <div class='col-6 border rounded p-3 lightblue'>";
                            text = text + "        <div class='row'>";
                            text = text + "            <div class='col-9'>";
                            text = text + "                <p class='text-primary'>"+parse.sender+"</p>";
                            text = text + "                <p class='text-break'>"+parse.content+"</p>";
                            text = text + "            </div>";
                            text = text + "        </div>";
                            text = text + "    </div>";
                            text = text + "</div>";
                        } else {
                            text = text + "<div class='row justify-content-end'>";
                            text = text + "    <div class='col-6 border rounded p-3 beige'>";
                            text = text + "        <div class='row'>";
                            text = text + "            <div class='col-9'>";
                            text = text + "                <p class='text-primary'>"+parse.sender+"</p>";
                            text = text + "                <p class='text-break'>"+parse.content+"</p>";
                            text = text + "            </div>";
                            text = text + "        </div>";
                            text = text + "    </div>";
                            text = text + "</div>";
                        }
                        
                                
                        $(".messages").append(text);
                        $(".messages").animate({ scrollTop: $('.messages').prop("scrollHeight")}, 1000);

                    });
                });
            }

            $("#sender").click(function(e){
                if (connected == true){
                    e.preventDefault()        
                    var chatMessage = {
                      content: $(".input").val(),
                      idReceived: $(".id-received").attr('id')
                    };
                    stompClient.send(`/send/message`, {}, JSON.stringify(chatMessage));

                    $(".input").val("");
                }

            });
            
            $(".messages").animate({ scrollTop: $('.messages').prop("scrollHeight")}, 1000);
            
            connect();

            });
        </script>
        
        <!--/* Fin footer */-->
        
    </body>
</html>
