<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="aplication/layout/layout :: head"></head>
    <body>
	
		<div class="wrapper d-flex align-items-stretch">
		<nav th:replace="aplication/layout/layout :: navbar"></nav>

        <!-- Page Content  -->
      	<div id="content" class="p-4 p-md-5 pt-5">
                    <div class="row">
                        
                        <div class="col-xl-7 ml-xl-auto">
                            
                            <div class="p-3 mt-3 jumbotron text-center" th:if="${#lists.isEmpty(publications)}">
                            	<h3 class="text-danger text-center"  th:text="#{text.quotes.empty}"></h3>
                            </div>
                    		<div id="all-publications">
	                            <div class="p-3 mt-3 bg-white card div-buttom publication sec" th:if="${!#lists.isEmpty(quotepublications)}" th:each="quotepublication : ${quotepublications}" th:id="${quotepublication.id}">
	                                <div class="row">
	                                    <div class="col-3 col-xl-2">
	                                    	<img class="img-fluid border" th:if="${quotepublication.publication.user.imageperf != null}" th:src="${'/image/user/' + quotepublication.publication.user.id}" alt="Card image cap" style="width: 100px">
	                                    	<img class="img-fluid border" th:if="${quotepublication.publication.user.imageperf == null}" th:src="@{/image/usuario.png}" alt="Card image cap" style="width: 100px">
	                                	</div>
	                                	<div class="col-9 col-xl-10">
	                                    	<div class="row">
	                                        	<div class="col-12">
	                                            	<p class="text-break"><a th:href="${'/userdetails/' + quotepublication.publication.user.id}"><span class="font-weight-bold" th:text="${quotepublication.publication.user.name}"></span> <span class="" th:text="'@' + ${quotepublication.publication.user.username}"></span></a> - <span class="" th:text="${quotepublication.publication.dateOfSend}"></span></p>
	                                        	</div>
	                                    	</div>
	                                    	<p class="text-break" th:utext="${quotepublication.publication.publication}"></p>
	                                    </div>
	                                </div>
	                            </div>
                    		</div>

                        </div>
                        
                        <div th:replace="aplication/layout/layout :: tendence-1"></div>
                    </div> 
                </div>
            </div>
        <div th:replace="aplication/layout/layout :: footer"></div>
    </body>
</html>