.verde {
	background-color: lightgreen;
}

.silver {
    background-color: #C0C0C0;
}

.lightblue{
    background-color: lightblue;
}

.springgreen{
    background-color: springgreen;
}

.aliceblue {
    background-color: #F0F8FF;
}

.dark {
    background-color: #333333;
}

.cornsilk {
    background-color: #FFF8DC;
}

.bg-gradient-chirpy{
background: rgb(2,0,36);
background: -moz-linear-gradient(137deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(28,90,103,1) 48%, rgba(17,113,133,1) 72%, rgba(0,212,255,1) 100%);
background: -webkit-linear-gradient(137deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(28,90,103,1) 48%, rgba(17,113,133,1) 72%, rgba(0,212,255,1) 100%);
background: linear-gradient(137deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(28,90,103,1) 48%, rgba(17,113,133,1) 72%, rgba(0,212,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
background-repeat: no-repeat;
}

.bg-chirpy{
    background-color: #19AFFF;
}

.text-chirpy{
    Color: #19AFFF;
}

.minh-100 {
  height: 100vh;
}


#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.image-chirpy{
    width: 100px;
}

.user-image {
    width: 100px;
    height: 100px;
}

.pequeno {
	font-size: 10px;
}

.publication:hover {
  background-color: #F0F8FF !important;
}

.imageusersu{
	max-height: 400px
}

.imageuser{
	max-height: 100px
}

.subir{
    padding: 5px 10px;
    background: #f55d3e;
    color:#fff;
    border:0px solid #fff;
}
 
.subir:hover{
    color:#fff;
    background: #f7cb15;
}

.chat{
  margin:0 auto;
  overflow:hidden;
}
.chat .messages{
  height: 70vh;
  overflow-y:scroll;
}
.chat .messages:hover{
  overflow-y:scroll;
}
.chat .messages > div{
  padding:15px;
}
