<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" class="p-3 mt-3 bg-white card div-buttom publication" th:each="publi : ${publications}" th:id="${publi.id}">
    <div class="row">
        <div class="col-3 col-xl-2">
            <img class="img-fluid border" th:if="${publi.user.imageperf != null}" th:src="${'/image/user/' + publi.user.id}" alt="Card image cap" style="width: 100px">
            <img class="img-fluid border" th:if="${publi.user.imageperf == null}" th:src="@{/image/usuario.png}" alt="Card image cap" style="width: 100px">
            </div>
            <div class="col-9 col-xl-10">
            <div class="row">
                    <div class="col-12">
                    <p class="text-break"><a th:href="${'/profile/' + publi.user.id}"><span class="font-weight-bold" th:text="${publi.user.name}"></span> <span class="" th:text="'@' + ${publi.user.username}"></span></a> - <span class="" th:text="${publi.dateOfSend}"></span></p>
                    </div>
            </div>
            <p  class="text-break" th:utext="${publi.publication}"></p>
        </div>
    </div>
</div>
