<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" class="p-3 mt-3 bg-white card user" th:each="us : ${users}" th:id="${us.id}">
    <div class="row">
        <div class="col-3 col-xl-2">
            <img class="img-fluid border" th:if="${us.imageperf != null}" th:src="${'/image/user/' + us.id}" alt="Card image cap" style="width: 100px">
            <img class="img-fluid border" th:if="${us.imageperf == null}" th:src="@{/image/usuario.png}" alt="Card image cap" style="width: 100px">
        </div>                                
            <div class="col-6 col-xl-7 d-flex align-content-center flex-wrap">
            <p  class="text-break"><a th:href="${'/profile/' + us.id}"><span class="font-weight-bold" th:text="${us.name}"></span> <span class="" th:text="'@' + ${us.username}"></span></a></p>
            </div>
            <div class="col-3 col-xl-3"  sec:authorize="isAuthenticated()" th:if="${us.username != #authentication.name}">
            <button class="badge badge-primary followbutton" th:id="'followbutton' + ${us.id}" th:value="${us.id}" th:text="#{text.explorer.follow}"></button>
            <button class="badge badge-danger unfollowbutton" th:id="'unfollowbutton' + ${us.id}" th:value="${us.id}" style="display: none;" th:text="#{text.explorer.ufollow}"></button>
            </div>
    </div>
</div>
