<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:replace="layout/administrationLayout :: head"></head>
	
	<body>
		<nav th:replace="layout/administrationLayout :: navbar"></nav>
	
		<div class="container">
		
		<div class="p-3 mt-3 row" th:if="${!#lists.isEmpty(images)}">
			<div th:each="image : ${images}" class="border border-rounded p-3 text-center align-content-center col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mt-2 mb-2" th:classappend="${image.view} ? publication : bg-warning">
				<div class="row">
					<div class="col-12">
						<a  data-type="image"  th:href="${'/image/admin/' + image.id}" data-toggle="lightbox" data-gallery="gallery">
							<img class="img-fluid" th:src="${'/image/admin/' + image.id}" >
						</a>
					</div>
					
					<div class="col-12 mt-2">
						<form th:action="@{/administration/deleteimage}" method="post">
							<input name="images" value="1" type="hidden">
							<button th:if="${image.view == true}" name="deleteimage" class="btn btn-warning" th:value="${image.id}" th:text="#{text.administration.images.delete}"></button>
							<button th:if="${image.view == false}" name="deleteimage" class="btn btn-success" th:value="${image.id}" th:text="#{text.administration.images.show}"></button>
							<button name="removeimage" class="btn btn-danger" th:value="${image.id}" th:text="#{text.administration.images.remove}"></button>
						</form>
                   	</div>
				</div>
			</div>
		</div>
		
		
		
		
		</div>
		<div th:replace="layout/administrationLayout :: footer"></div>
	</body>
</html>