<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
    <body>
	
		<div class="wrapper d-flex align-items-stretch">
			<nav th:replace="layout/layout :: navbar"></nav>

      		<div id="content" class="p-4 p-md-5 pt-5">
                    <div class="row">
                        
                        <div class="col-xl-7 ml-xl-auto">
                            <div th:replace="layout/layout :: alerts"></div>
                            <div class="p-3 bg-white">
                                <form class="" th:action="@{/explorer}" method="post">
                                <div class="form-row">
                                    <div class="col-10">
                                        <input type="text" name="find" th:placeholder="#{text.explorer.find}" class="form-control ligthyellow border">
                                    </div>
                                    <div class="col-2">
                                        <button class="btn btn-outline-primary" type="submit" th:text="#{text.explorer.find}"></button>
                                    </div>
                                </div>
                            </form>
                            </div>
                            
                            <div class="p-3 mt-3 bg-white card" th:if="${!#lists.isEmpty(users)}" th:each="us : ${users}">
                                <div class="row">
									<div class="col-3 col-xl-2">
                                    	<img class="img-fluid border" th:if="${us.imageperf != null}" th:src="${'/image/user/' + us.id}" alt="Card image cap" style="width: 100px">
                                        <img class="img-fluid border" th:if="${us.imageperf == null}" th:src="@{/image/usuario.png}" alt="Card image cap" style="width: 100px">
                                    </div>                                
                                	<div class="col-6 col-xl-7 d-flex align-content-center flex-wrap">
                                    	<p><a th:href="${'/userdetails/' + us.id}"><span class="font-weight-bold" th:text="${us.name}"></span> <span class="" th:text="'@' + ${us.username}"></span></a></p>
                                	</div>
                                	<div class="col-3 col-xl-3"  sec:authorize="isAuthenticated()" th:if="${us.username != #authentication.name}">
                                    	<button class="badge badge-primary followbutton" th:id="'followbutton' + ${us.id}" th:value="${us.id}" th:text="#{text.explorer.follow}"></button>
                                    	<button class="badge badge-danger unfollowbutton" th:id="'unfollowbutton' + ${us.id}" th:value="${us.id}" style="display: none;" th:text="#{text.explorer.ufollow}"></button>
                                	</div>
                                </div>
                            </div>
                    
                            <div th:replace="layout/layout :: coments-2"></div>
                            
                            <div class="jumbotron p-3 mt-3" th:if="${#lists.isEmpty(publications) && #lists.isEmpty(users) && publications != null && users != null}">
		                    	<div class="text-center">
		                        	<h5 class="card-title text-danger" th:text="#{text.explorer.empty}"></h5>
		                    	</div>
	                    	</div>
                            
                            <div class="jumbotron p-3 mt-3" th:if="${publications == null && users == null}">
		                    	<div class="text-center">
		                        	<h5 class="card-title secondary" th:text="#{text.layout.trend}"></h5>
		                    	</div>
		                    	
		                    	<hr class="my-4">
		                    	
		                    	<div class="list-group list-group-flush">
			                    	<a th:each="trend : ${trends}" th:href="${'/explorer/' + trend.hashtagname}" class="p-2 mt-2 mb-2 ml-2">
			                    		<span th:text="${'#'+trend.hashtagname}" class="m-0 p-0"></span><br/>
			                    		<span class="m-0 p-0 pequeno" th:text="${trend.usos}"></span> <span class="m-0 p-0 pequeno" th:text="#{text.layout.trend.publications}"></span>
			                    	</a>
			                    	<p class="p-2 mt-2 mb-2 ml-2" th:if="${#lists.isEmpty(trends)}" th:text="#{text.explorer.empty}"></p>
					            </div>
		                	</div>
                            
                        </div>
                       	<div th:replace="layout/layout :: tendence-2"></div>
                    </div> 
                </div>
        	</div>
        <div th:replace="layout/layout :: footer"></div>
    </body>
</html>
