<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:replace="layout/layout :: head"></head>
	
	<body>
		<div class="wrapper d-flex align-items-stretch">
			
			<nav th:replace="layout/layout :: navbar"></nav>
			
			<div id="content" class="p-4 p-md-5 pt-5">
				<div class="row">
					<div class="col-xl-7 ml-xl-auto">
					
						<div th:replace="layout/layout :: alerts"></div>
	
						<div class="p-3 bg-white">
						
							<div class="text-center">
								<h5 th:text="#{text.home.sendpubliup}"></h5>
							</div>
							
							<form th:action="@{/home}" th:object="${publication}" method="post" enctype="multipart/form-data" class="row">
								
								<div class="col-12 text-center">
									<textarea th:field="*{publication}" th:placeholder="#{text.home.publication}" class="border" id="exampleFormControlTextarea1" rows="3"></textarea>
									<span class="text-danger" th:if="${#fields.hasErrors('publication')}" th:errors="*{publication}"></span>
									<span class="text-danger" th:if="${errorpublication != null}" th:text="${errorpublication}"></span>
								</div>
								
								<div class="col-9 mt-2">
									<div class="row">
									
										<div class="col-6">
											<input type="file" name="image[]" id="1" class="form-control border">
										</div>
										
										<div class="col-6">
											<input type="file" name="image[]" id="2" class="form-control border">
										</div>
										
									</div>
									<span class="text-danger" th:if="${errorimage != null}" th:text="${errorimage}"></span>
								</div>
	
								<div class="col-3 text-center">
									<button class="btn btn-secondary mt-2" type="submit" th:text="#{text.home.publish}"></button>
								</div>
								
							</form>
						</div>
	
						<div  th:replace="layout/layout :: coments-1"></div>

					</div>
				
					<div th:replace="layout/layout :: tendence-1"></div>
				
				</div> 
			</div>
		</div>
	
		<div th:replace="layout/layout :: modal"></div>

		<div th:replace="layout/layout :: footer"></div>
	</body>
</html>