<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
    <body>
	
		<div class="wrapper d-flex align-items-stretch">
		<nav th:replace="layout/layout :: navbar"></nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
                    <div class="row mt-5">
                        
                        <div class="col-xl-7 ml-xl-auto text-center justify-content-center">
                            
                            <div class="p-3 mt-3 black text-center" th:if="${#lists.isEmpty(publications)}">
                            <h3 class="text-danger">No te han citado</h3>
                            </div>
                    
                            <div class="p-3 mt-3 cornsilk row" th:if="${!#lists.isEmpty(publications)}" th:each="publi : ${publications}" th:id="'post' + ${publi.id}">
                                <div class="col-2">
                                    <img th:if="${publi.user.imageperf == null}" class="img-fluid border" th:src="@{/image/usuario.png}">
                                    <img th:if="${publi.user.imageperf != null}" class="img-fluid border" th:src="${'/image/user/' + publi.user.id}">
                                </div>
                                <div class="col-10">
                                    <div class="row">
                                        <div class="col-10">
                                            <p class="text-left"><a th:href="${'/userdetails/' + publi.user.id}"><span class="font-weight-bold" th:text="${publi.user.name}"></span> <span class="" th:text="'@' + ${publi.user.username}"></span></a> - <span class="" th:text="${publi.dateOfSend}"></span></p>
                                        </div>
                                    </div>
                                    <p th:utext="${publi.publication}" class="text-left"></p>
                                </div>
                            </div>
                            
                            
                            
                        </div>
                        
                        <div class="col-xl-3 ml-xl-auto ml-5 mr-5">
                            <div class="card">
                                <div class="card-header text-center text-chirpy">
                                    <h5 class="card-title">Tendencias</h5>
                                </div>
                                <div class="card-body pb-5">
                                    
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div th:replace="layout/layout :: footer"></div>
    </body>
</html>