
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:replace="layout/layout :: head"></head>

	    <body class="bg-gradient-chirpy">
        <div class="container">
            

            <div class="row justify-content-center align-items-center minh-100">
                <div class="col-12">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
							<div class="card">
								<div class="card-header">	
									<span th:text="#{text.register.formTittle}"></span>		                        	
									
								</div>
								<div class="card-body">
								<div  th:replace="layout/layout :: alerts">
								</div>
									<a class="" th:href="@{/login}" th:text="#{text.register.login}"></a>
									<form class="form-signin mt-2" th:action="@{/register}"
										th:object="${user}" method="post">
										
				                        <p>
				                            <label for="username" th:text="#{text.register.user}"></label> <input
				                                    type="text" id="username" th:field="*{username}"
				                                    class="form-control border" th:placeholder="#{text.register.user}" required autofocus
				                                    th:errorclass="'form-control alert-danger'" /> <span
				                                    class="text-danger" th:if="${#fields.hasErrors('username')}"
				                                    th:errors="*{username}"></span>
				                        </p>
				                        <p>
			                                <label for="password" th:text="#{text.register.password}"></label> <input
			                                        type="password" id="password" th:field="*{password}"
			                                        class="form-control border" th:placeholder="#{text.register.password}" required
			                                        th:errorclass="'form-control alert-danger'" /> <span
			                                        class="text-danger" th:if="${#fields.hasErrors('password')}"
			                                        th:errors="*{password}"></span>
				                        </p>
				
				                        <p>
			                                <label for="name" th:text="#{text.register.name}"></label> <input type="text" id="namealasname"
			                                        th:field="*{name}" class="form-control border"
			                                        th:placeholder="#{text.register.name}" required autofocus
			                                        th:errorclass="'form-control alert-danger'" /> <span
			                                        class="text-danger"
			                                        th:if="${#fields.hasErrors('name')}"
			                                        th:errors="*{name}"></span>
				                        </p>
				
				                        <p>
			                                <label for="namealasname" th:text="#{text.register.email}"></label> <input
			                                        type="email" id="namealasname" th:field="*{email}"
			                                        class="form-control border" th:placeholder="#{text.register.email}" required autofocus
			                                        th:errorclass="'form-control alert-danger'" /> <span
			                                        class="text-danger" th:if="${#fields.hasErrors('email')}"
			                                        th:errors="*{email}"></span>
				                        </p>
				
				                        <div class="text-center">
			                                <button class="btn btn-outline-primary" type="submit" th:text="#{text.register.createacount}"></button>
				                        </div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="layout/layout :: footer"></div>
	</body>
</html>
