<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
    <body>
	
		<div class="wrapper d-flex align-items-stretch">
		<nav th:replace="layout/layout :: navbar"></nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
                    <div class="row">
                        
                        <div class="col-xl-7 ml-xl-auto">
                            
                            <div class="jumbotron mb-0">
                                <div class="parent w-100 ">
                                	<img th:if="${userc.imagesu != null}"  th:src="${'/image/imagesu/' + userc.id}" class="img-fluid imageusersu">
                            	</div>
                            
	                            <div class="row m-3 justify-content-center border border border-warning p-4">
	                                <div class="col-12 col-lg-3 mb-3">
	                                    <img th:if="${userc.imageperf == null}" class="img-fluid border" th:src="@{/image/usuario.png}">
	                                    <img th:if="${userc.imageperf != null}" class="img-fluid border" th:src="${'/image/user/' + userc.id}">
	                                </div>
	                                <div class="col-12 col-lg-9">
	                                    <p th:if="*{userc.description!=null and #strings.length(userc.description)>0}" th:text="${userc.description}"></p>
	                                    <p th:if="*{userc.description==null || #strings.length(userc.description)==0}">No hay ninguna descripción</p>
	                                </div>
	                            </div>
                            </div>
                            
                            <div class="row mt-0 ml-0 mt-1 text-center align-content-center">
                            	<div class="col-3"></div>
                                <a class="col-3 bg-primary text-white mr-1 p-2" th:href="${'/userdetails/' + userc.id}">Ver Perfil</a>
                            	<a class="col-3 bg-primary text-white ml-1 p-2" th:href="${'/userimages/' + userc.id}">Multimedia</a>
                            	<div class="col-3"></div>
                            </div>
                            
                            
                            
                            <div class="p-3 mt-3 black text-center" th:if="${#lists.isEmpty(publications)}">
                            	<h3 class="text-danger">No tienes publicaciones</h3>
                            </div>
                    
                            
                            <div th:replace="layout/layout :: coments-3"></div>
                            
                            
                        </div>
                        
                        <div th:replace="layout/layout :: tendence-1"></div>
                        
                    </div> 
                </div>
            </div>
            
        
        <div th:replace="layout/layout :: modal"></div>
            
        <div th:replace="layout/layout :: footer"></div>
    </body>
</html>