<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
	<!--/* Header usado en la zona de administracion */-->
	
	<head th:fragment="head">
		<meta charset="UTF-8" />
		<meta name="_csrf" th:content="${_csrf.token}"/>
		<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
		<title th:text="'Chirpy - ' + ${title}"></title>
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
		<link rel="stylesheet" th:href="@{/css/style.css}"/>
		<link rel="stylesheet" th:href="@{/css/mycss.css}" />
		<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
		<link rel="stylesheet" th:href="@{/css/ekko-lightbox.css}" />
		<link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">
		<link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css" media="all">
		<link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css" media="all">
	</head>
	
		<!--/* Fin header zona administracion */-->
	
	<body>
    
    	<!--/* Navbar de la zona administracion */-->
    
		<nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="navbar">
		    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
		        <a class="navbar-brand" th:href="@{/home}" th:text="#{text.administration.nav.return}"></a>
		    </div>
		    <div class="mx-auto order-0">
		        <ul class="navbar-nav mr-auto">
		            <li class="nav-item active">
		                <a class="nav-link" th:href="@{/administration}" th:text="#{text.administration.nav.main}"></a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" th:href="@{/administration/users}" th:text="#{text.administration.nav.user}"></a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" th:href="@{/administration/posts}" th:text="#{text.administration.nav.publications}"></a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" th:href="@{/administration/images}" th:text="#{text.administration.nav.multimedia}"></a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" th:href="@{/administration/emoticons}" th:text="#{text.administration.nav.emoticons}"></a>
		            </li>
		        </ul>
		    </div>
		    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2"></div>
		</nav>
	    
	    <!--/* Fin navbar de la zona administracion */-->

    
    	<!--/* Footer zonas administracion */-->
    
	    <footer th:fragment="footer">
			<script th:src="@{/js/jquery.js}"></script>
			<script th:src="@{/js/jquery-ui.min.js}"></script>
	        <script th:src="@{/js/popper.min.js}"></script>
	        <script th:src="@{/js/bootstrap.min.js}"></script>
	        <script th:src="@{/js/ekko-lightbox.min.js}"></script>
	        <script th:src="@{/js/jqueryfunctionsadmins.js}"></script>
	    </footer>
	    
	    <!--/* Fin footer zonas administracion */-->
	</body>
</html>