<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:replace="layout/administrationLayout :: head"></head>
	
	<body>
		<nav th:replace="layout/administrationLayout :: navbar"></nav>
	
		<div class="container">
		
			<div class="jumbotron mb-0">
	           <div class="parent w-100 text-center justify-content-center">
	           		<img th:if="${userc.imagesu != null}"  th:src="${'/image/imagesu/' + userc.id}" class="img-fluid imageusersu">
		       	</div>
		       
		        <div class="row m-3 border border border-warning p-4">
		            <div class="col-12 col-sm-3 mb-3 text-center text-lg-left">
		                <img th:if="${userc.imageperf == null}" class="img-fluid border imageuser" th:src="@{/image/usuario.png}">
		                <img th:if="${userc.imageperf != null}" class="img-fluid border w-100 imageuser" th:src="${'/image/user/' + userc.id}">
		            </div>
		            <div class="col-12 col-sm-9 text-center text-lg-left">
		                <p th:if="*{userc.description!=null and #strings.length(userc.description)>0}" th:text="${userc.description}"></p>
		                <p th:if="*{userc.description==null || #strings.length(userc.description)==0}" th:text="#{text.userdetails.descriptionEmpty}"></p>
		            </div>
		        </div>
	       	</div>
			
			<div class="p-4 mt-3 card" th:if="${!#lists.isEmpty(publications)}" th:each="publi : ${publications}"  th:classappend="${publi.view} ? publication : bg-warning">
		        <div class="row">
		        
		            <div class="col-3 col-xl-2">
		            	<img class="img-fluid border" th:if="${publi.user.imageperf != null}" th:src="${'/image/user/' + publi.user.id}" alt="Card image cap" style="width: 100px">
		                <img class="img-fluid border" th:if="${publi.user.imageperf == null}" th:src="@{/image/usuario.png}" alt="Card image cap" style="width: 100px">
	           		</div>
		                       
		            <div class="col-9 col-xl-10">
		                       
		            	<div class="row">
		                	<div class="col-12">
		                    	<p><span class="font-weight-bold" th:text="${publi.user.name}"></span> <span class="" th:text="'@' + ${publi.user.username}"></span> - <span class="" th:text="${publi.dateOfSend}"></span></p>
	                    	</div>
	                	</div>
		                           
		                <p th:utext="${publi.publication}"></p>
		                           
		                <div class="row" th:if="${publi.publi != null}">
		                	<div class="col cornsilk border p-3 m-3">
		                    	<p th:text="#{text.layout.coment-1.inresponse}"></p>
		                    	
								<div class="row">
									<div class="col-4 col-xl-2">
		                           		<img class="img-fluid border" th:if="${publi.publi.user.imageperf != null}" th:src="${'/image/user/' + publi.publi.user.id}" alt="Card image cap" style="width: 100px">
		                				<img class="img-fluid border" th:if="${publi.publi.user.imageperf == null}" th:src="@{/image/usuario.png}" alt="Card image cap" style="width: 100px">
		                       		</div>
		                       		
		                      		<div class="col-8 col-xl-10">
		                           		<div class="row">
		                               		<div class="col-12">
		                                   		<p><a th:href="${'/administration/userpost/' + publi.publi.user.id}"><span class="font-weight-bold" th:text="${publi.publi.user.name}"></span> <span class="" th:text="'@' + ${publi.publi.user.username}"></span></a> - <span th:text="${publi.publi.dateOfSend}"></span></p>
		                               		</div>
		                           		</div>
		                           		<p th:utext="${publi.publi.publication}"></p>
		                          	</div>
		                       </div>
	                  		</div>
	           			</div>
		                           
		                <div class="row">
		                	
							<div class="col text-center" th:each="image : ${imageDao.findByPubliAdmin(publi)}">
								<div class="row" >
									<div class="col-12">
										<a data-type="image" th:href="${'/image/admin/' + image.id}" data-toggle="lightbox" th:data-gallery="${publi.id}">
											<img class="img-fluid" th:src="${'/image/admin/' + image.id}" >
										</a>
									
									</div>
								
									<div class="col-12 text-center mt-2">
										<form th:action="@{/administration/deleteimage}" method="post">
											<input name="post" value="1" type="hidden">
											<button th:if="${image.view == true}" name="deleteimage" class="btn btn-warning" th:value="${image.id}" th:text="#{text.administration.images.delete}"></button>
											<button th:if="${image.view == false}" name="deleteimage" class="btn btn-success" th:value="${image.id}" th:text="#{text.administration.images.show}"></button>
											<button name="removeimage" class="btn btn-danger" th:value="${image.id}" th:text="#{text.administration.images.remove}"></button>
										</form>
									
									</div>
								
								</div>
								
		                   	</div>
							
	                   	</div>
					</div>
				</div>
				
				<div class="text-right mt-2">
					<form th:action="@{/administration/deletepost}" method="post">
						<button th:if="${publi.view == true}" name="deletepost" class="btn btn-warning" th:value="${publi.id}" th:text="#{text.administration.images.delete}"></button>
						<button th:if="${publi.view == false}" name="deletepost" class="btn btn-success" th:value="${publi.id}" th:text="#{text.administration.images.show}"></button>
						<button name="removepost" class="btn btn-danger" th:value="${publi.id}" th:text="#{text.administration.images.remove}"></button>
						<button name="removeallpost" class="btn btn-danger" th:value="${publi.id}" th:text="#{text.administration.images.removeall}"></button>
						
					</form>
				</div>
			</div>
			
			
		</div>
		
		
		<div th:replace="layout/administrationLayout :: footer"></div>
	</body>
</html>
